<div class="qc-home-page row">
    <div class="col-12">
        <qc-error-message *ngIf="this.utilitiesService.errorFound" [utilitiesService]="this.utilitiesService"></qc-error-message>
        <div *ngIf="this.apiToken">
            <qc-nav [currentPage]="this.currentPage"></qc-nav>
            <div class="row">
                <div class="col-12 col-sm-7 qc-home-hero">
                    <button class="btn qc-hero-add-btn" (click)="this.addAssessment()" [hidden]="this.isAddingAssessment" type="button">Add Quick Check</button>
                    <qc-quick-add *ngIf="this.isAddingAssessment"
                        (onCancel)="this.cancelAdd($event)"
                        [utilitiesService]="this.utilitiesService"
                        [collectionService]="this.collectionService">
                    </qc-quick-add>
                </div>
            </div>
        </div>
    </div>
</div>
